body{
    background-color: rgba(107, 72, 129, 0.3);
}
.header{
    margin-top: 0%;
    background-color: rgb(52, 7, 88);
    width:100%;
    height:40px;
    text-align: left;
    border-color: rgba(164, 26, 26, 0.696);
    border-width: 20px;
    display:flex;
    align-items: center;
    
   }
   h1{
   color: rgb(247, 243, 243);
   margin-left: 10px;
  margin-right: 550px;
   }
   button{
    border-radius: 5px;
    background-color: rgb(69, 69, 137);
    color: white;
    border-color: antiquewhite;
    margin-left: 30px;
    margin-right:30px ;
    align-items: end;
   
    
   }
   .txt{
    font-size: larger;
   }
   .about{
    background-color: rgba(58, 51, 120, 0.5);
    width:400px;
    height:600px;
    border-radius: 8px;
   }
   img{
    margin-left: 45px;
    margin-top: 20px;
    margin-right: 40px;
    border-radius: 6px;
   }
   ul{
    font-size: larger;
    }
    li{
        margin-bottom:5px;
    }
    h2{
        margin-left: 22px;
    }
    .moto{
        font-size:120%;
        font-style: italic;
      
    }
    p{
        margin-left: 20px;
        margin-right: 10px;
    }
    .container{
        display:flex;
        gap:35px;
    }
    .box1 {
        margin-top:0px;
        display: flex;
        flex-direction: row;
       gap:10px; /* Space between each image */
        border-radius: 3px;
        flex-wrap:wrap;
        justify-content: space-between;
    }
    .item {
        width: 48%; /* two items per row with a little margin */
        overflow: hidden; /* to maintain aspect ratio */
        text-align: center; /* center the text */
        flex-direction: row;
        flex-wrap: wrap;
       font-size:medium;
       background-color:rgba(58, 51, 120, 0.5);
    border-radius: 7px;
    font:italic;
    font-size: 100%;
    margin-bottom:10px;
    font-style: italic;
    margin-right: 10px;
   font-weight: bold;
   
    
   }
